/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component 
*/

.order-enter // start point 
  transition all 0.3s
  transform translateX(-120%)
  max-height 0
  padding 0 !important
  &.order-enter-active  // end point 
    max-height 60px
    padding 2rem 0 !important
    background white
    transform translateX(0)

.order-leave // start point 
  transition all 0.3s
  transform translateX(0)
  &.order-leave-active // end point 
    max-height 0
    padding 0
    transform translateX(120%)


.count-enter // start point 
  transition all .2s
  transform translateY(100%) // start it just off screen
  &.count-enter-active // end point 
    opacity 1
    transform translateY(0)
    
    
  
.count-leave // duplicate start point 
  transition all .2s
  left 0
  bottom 0
  transform translateY(0) // start where it is
  position absolute // overlap duplicate 
  &.count-leave-active // duplicate leave 
    transform translateY(-100%)
    
  
